IF NOT EXISTS (SELECT TOP 1 * FROM dbo.Enrollment)
BEGIN
SET IDENTITY_INSERT [dbo].[Enrollment] ON 
INSERT [dbo].[Enrollment] ([EnrollmentID], [CourseID], [StudentID], [Grade]) VALUES (1, 1050, 1, 0)
INSERT [dbo].[Enrollment] ([EnrollmentID], [CourseID], [StudentID], [Grade]) VALUES (2, 4022, 1, 2)
INSERT [dbo].[Enrollment] ([EnrollmentID], [CourseID], [StudentID], [Grade]) VALUES (3, 4041, 1, 1)
SET IDENTITY_INSERT [dbo].[Enrollment] OFF
END